<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="100" src="../assets/imgs/1_i6P0M-uCL6jv8sS6eYsO9A.png"/>
  <span>Turpial Gitflow</span>
</div>

<div class="content" role="main">
  <h1 style="font-size: 48px;">This is the correct message</h1>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <p> @daniel - This is my footer </p>
</div>